* {
    margin: 0;
    padding: 0;
}

p {
    margin-bottom: 0rem !important;
}

.container {
    max-width: 1900px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.bg-img {
    background-image: url(/img/gallery.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 423px;
    width: 100%;
    max-width: 1900px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}

.around {
    margin-top: 80px;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0.12px;
}

.titals_cards {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font: bolder;
}

.country_text {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

/* card  */
.all_cards {
    margin-top: 57px;
}

.all_cards_2 {
    margin-top: 40px;
}

.show {
    width: 312px;
    height: 60px;
    border-radius: 5px;
    background: #1E64F0;
    border: none;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 20px;
    margin-top: 80px;
}

/* footer part  */
.bg-footer {
    margin-top: 80px;
    background-color: #000;
    width: 100%;
    height: 334px;
}

.footer_weather_text {
    color: #FFF;
    font-family: 'Inder', sans-serif;
    font-size: 30px;
    font-weight: 400;
    padding-top: 15px;
}

.weater_footer {
    justify-content: center;
    padding-top: 65px;
}

.footer_navbar {
    list-style-type: none;
    padding-top: 30px;
    column-gap: 20px;
    color: #FFF;
}

.hr_row {
    color: #FFF;
    width: 90%;
    height: 1px;
    display: block;
    margin-top: 50px;
    position: absolute;
    left: 5%;
}

.footer_copy {
    padding-top: 80px;
}

.rights {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    letter-spacing: 0.09px;
    justify-content: start;
}

/* footer midia query  */
@media (min-width: 320px) and (max-width:480px) {
    .footer_navbar {
        flex-direction: column;
    }

    .bg-footer {
        height: 450px;
    }

    .weater_footer {
        padding-top: 25px;
    }
    .all_map{
        display: none;
    }
}